/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh;} */ 

h1 {
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing */
}

.form-container {
    margin: 0 20px;
}
/* .carHub {
    width: 80%;
    height: 80vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    margin: auto; /* Center the form-container horizontally */
    width: fit-content; /* Adjust the width to fit its content */
    padding: 20px; /* Added some padding around the form for spacing */
}
.column-left {
    flex:1;    
    padding-right: 20px;
}
.column-right {
    flex:1;
    padding-left:20px
}
label {
    display:block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px ;
    font-size: 16px;

}

button {
    background-color: green;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    font-size:16px
}

button:hover {
    background-color: #25b62c;
}

img {
    max-width: 100%;
    height:auto;
    margin-bottom: 16px;
    border-radius: 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* This is important to position elements inside it */
}

.content-overlay {
    width: 70%;
    height: 50%;
    min-height: 600px;
    position: absolute;
    width: 80%;
    max-width: 1200px; /* Adjust this value as needed */
    z-index: 2; /* This ensures that the overlay is above the background */
}

.carHub {
    width: 80%;
    height: 80vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Lower than content-overlay */
}

/* Adjustments to other styles might be needed to ensure they fit well within this new structure */
